---
##          EPL Player Statistical Analysis of FBREF.com Data
---

### Part 1 - Scrape, Clean and Organize EPL Player Data

In [1]:
# import libraries
import pandas as pd
import unidecode
import time

#### Read URL of Team Page, Target Table 1 (list index 0) - Add 60 sec sleep (fbref allows for max 20 requests per min)
##### Assign each table to individual df

In [2]:


df1 = pd.read_html("https://fbref.com/en/squads/822bd0ba/Liverpool-Stats")[0]
df2 = pd.read_html("https://fbref.com/en/squads/18bb7c10/Arsenal-Stats")[0]
df3 = pd.read_html("https://fbref.com/en/squads/19538871/Manchester-United-Stats")[0]
df4 = pd.read_html("https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats")[0]
df5 = pd.read_html("https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats")[0]
df6 = pd.read_html("https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats")[0]
df7 = pd.read_html("https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats")[0]
df8 = pd.read_html("https://fbref.com/en/squads/fd962109/Fulham-Stats")[0]
df9 = pd.read_html("https://fbref.com/en/squads/cd051869/Brentford-Stats")[0]
df10 = pd.read_html("https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats")[0]
df11 = pd.read_html("https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats")[0]
df12 = pd.read_html("https://fbref.com/en/squads/8602292d/Aston-Villa-Stats")[0]
df13 = pd.read_html("https://fbref.com/en/squads/a2d435b3/Leicester-City-Stats")[0]         
df14 = pd.read_html("https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats")[0] 
df15 = pd.read_html("https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats")[0] 
df16 = pd.read_html("https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats")[0] 
df17 = pd.read_html("https://fbref.com/en/squads/5bfb9659/Leeds-United-Stats")[0] 
df18 = pd.read_html("https://fbref.com/en/squads/d3fd31cc/Everton-Stats")[0] 
df19 = pd.read_html("https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats")[0] 
df20 = pd.read_html("https://fbref.com/en/squads/33c895d4/Southampton-Stats")[0] 
time.sleep(61)

#### Remove top level of tables

In [3]:
df1 = df1.droplevel(0,axis=1)
df2 = df2.droplevel(0,axis=1)
df3 = df3.droplevel(0,axis=1)
df4 = df4.droplevel(0,axis=1)
df5 = df5.droplevel(0,axis=1) 
df6 = df6.droplevel(0,axis=1)
df7 = df7.droplevel(0,axis=1)
df8 = df8.droplevel(0,axis=1)
df9 = df9.droplevel(0,axis=1) 
df10 = df10.droplevel(0,axis=1)
df11 = df11.droplevel(0,axis=1)
df12 = df12.droplevel(0,axis=1)
df13 = df13.droplevel(0,axis=1) 
df14 = df14.droplevel(0,axis=1)
df15 = df15.droplevel(0,axis=1)
df16 = df16.droplevel(0,axis=1)
df17 = df17.droplevel(0,axis=1) 
df18 = df18.droplevel(0,axis=1)
df19 = df19.droplevel(0,axis=1)
df20 = df20.droplevel(0,axis=1)

#### Add 'Team Name' column

In [4]:
df1['Team'] = 'Liverpool'
df2['Team'] = 'Arsenal'
df3['Team'] = 'Man Utd'
df4['Team'] = 'Newcastle'
df5['Team'] = 'Tottenham'
df6['Team'] = 'Man City'
df7['Team'] = 'Brighton'
df8['Team'] = 'Fulham'
df9['Team'] = 'Brentford'
df10['Team'] = 'Chelsea'
df11['Team'] = 'Crystal Palace'
df12['Team'] = 'Aston Villa'
df13['Team'] = 'Leicester'
df14['Team'] = 'Nottm Forest'
df15['Team'] = 'Wolves'
df16['Team'] = 'West Ham'
df17['Team'] = 'Leeds'
df18['Team'] = 'Everton'
df19['Team'] = 'Bournemouth'
df20['Team'] = 'Southampton'

#### Concatenate all Dataframes

In [5]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20])
df

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,Team
0,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,1.0,...,0.04,0.00,0.04,0.00,0.01,0.01,0.00,0.01,Matches,Liverpool
1,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,7.0,...,0.73,0.44,0.73,0.48,0.22,0.70,0.48,0.70,Matches,Liverpool
2,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,2.0,...,0.14,0.05,0.14,0.08,0.30,0.37,0.08,0.37,Matches,Liverpool
3,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,0.0,...,0.15,0.15,0.15,0.08,0.01,0.09,0.08,0.09,Matches,Liverpool
4,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,6.0,...,0.32,0.00,0.32,0.06,0.22,0.28,0.06,0.28,Matches,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,Alex McCarthy,eng ENG,GK,33-093,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,Southampton
34,Jimmy Morgan,eng ENG,FW,17-044,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,Southampton
35,Lewis Payne,eng ENG,DF,18-280,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches,Southampton
36,Squad Total,NaN,NaN,25.1,25,275,2250.0,25.0,20.0,13.0,...,1.32,0.80,1.32,0.96,0.74,1.71,0.89,1.64,NaN,Southampton
37,Opponent Total,NaN,NaN,27.4,25,275,2250.0,25.0,37.0,32.0,...,2.76,1.48,2.76,1.33,1.05,2.39,1.30,2.35,NaN,Southampton

#### Isolate Relevant Columns

In [6]:

df=df[['Team', 'Player', 'Nation', 'Pos', 'Age', 'MP','Starts','Min','90s','Gls', 'Ast', 'PK','CrdY','CrdR','xG']]    
df.head()

,Team,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Gls,Ast,Ast,PK,CrdY,CrdR,xG,xG
0,Liverpool,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,0.00,1.0,0.04,0.0,0.0,0.0,0.0,0.00
1,Liverpool,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,0.44,7.0,0.28,0.0,1.0,0.0,11.8,0.48
2,Liverpool,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,0.05,2.0,0.10,0.0,3.0,0.0,1.6,0.08
3,Liverpool,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,0.15,0.0,0.00,0.0,1.0,0.0,1.7,0.08
4,Liverpool,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,0.00,6.0,0.32,0.0,2.0,0.0,1.1,0.06

#### Rename Headers

In [7]:
#rename columns
df.columns = ['Team', 'Player', 'Nat', 'Pos', 'Age','MP', 'Starts', 'Mins','90s', 'Gls', 'Gls/90', 'Ast','Ast/90','PK','CrdY','CrdR','xG', 'xG/90'] 
df.head()

,Team,Player,Nat,Pos,Age,MP,Starts,Mins,90s,Gls,Gls/90,Ast,Ast/90,PK,CrdY,CrdR,xG,xG/90
0,Liverpool,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,0.00,1.0,0.04,0.0,0.0,0.0,0.0,0.00
1,Liverpool,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,0.44,7.0,0.28,0.0,1.0,0.0,11.8,0.48
2,Liverpool,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,0.05,2.0,0.10,0.0,3.0,0.0,1.6,0.08
3,Liverpool,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,0.15,0.0,0.00,0.0,1.0,0.0,1.7,0.08
4,Liverpool,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,0.00,6.0,0.32,0.0,2.0,0.0,1.1,0.06

#### Import 'Shooting' Statistics Table (5th table on club landing page - list index 4). Drop Levels & Concatente Dataframes

In [8]:
df101 = pd.read_html("https://fbref.com/en/squads/822bd0ba/Liverpool-Stats")[4]
df102 = pd.read_html("https://fbref.com/en/squads/18bb7c10/Arsenal-Stats")[4]
df103 = pd.read_html("https://fbref.com/en/squads/19538871/Manchester-United-Stats")[4]
df104 = pd.read_html("https://fbref.com/en/squads/b2b47a98/Newcastle-United-Stats")[4]
df105 = pd.read_html("https://fbref.com/en/squads/361ca564/Tottenham-Hotspur-Stats")[4]
df106 = pd.read_html("https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats")[4]
df107 = pd.read_html("https://fbref.com/en/squads/d07537b9/Brighton-and-Hove-Albion-Stats")[4]
df108 = pd.read_html("https://fbref.com/en/squads/fd962109/Fulham-Stats")[4]
df109 = pd.read_html("https://fbref.com/en/squads/cd051869/Brentford-Stats")[4]
df110 = pd.read_html("https://fbref.com/en/squads/cff3d9bb/Chelsea-Stats")[4]
df111 = pd.read_html("https://fbref.com/en/squads/47c64c55/Crystal-Palace-Stats")[4]
df112 = pd.read_html("https://fbref.com/en/squads/8602292d/Aston-Villa-Stats")[4]
df113 = pd.read_html("https://fbref.com/en/squads/a2d435b3/Leicester-City-Stats")[4]         
df114 = pd.read_html("https://fbref.com/en/squads/e4a775cb/Nottingham-Forest-Stats")[4] 
df115 = pd.read_html("https://fbref.com/en/squads/8cec06e1/Wolverhampton-Wanderers-Stats")[4] 
df116 = pd.read_html("https://fbref.com/en/squads/7c21e445/West-Ham-United-Stats")[4] 
df117 = pd.read_html("https://fbref.com/en/squads/5bfb9659/Leeds-United-Stats")[4] 
df118 = pd.read_html("https://fbref.com/en/squads/d3fd31cc/Everton-Stats")[4] 
df119 = pd.read_html("https://fbref.com/en/squads/4ba7cbea/Bournemouth-Stats")[4] 
df120 = pd.read_html("https://fbref.com/en/squads/33c895d4/Southampton-Stats")[4]

In [9]:
df101 = df101.droplevel(0,axis=1)
df102 = df102.droplevel(0,axis=1)
df103 = df103.droplevel(0,axis=1)
df104 = df104.droplevel(0,axis=1)
df105 = df105.droplevel(0,axis=1) 
df106 = df106.droplevel(0,axis=1)
df107 = df107.droplevel(0,axis=1)
df108 = df108.droplevel(0,axis=1)
df109 = df109.droplevel(0,axis=1) 
df110 = df110.droplevel(0,axis=1)
df111 = df111.droplevel(0,axis=1)
df112 = df112.droplevel(0,axis=1)
df113 = df113.droplevel(0,axis=1) 
df114 = df114.droplevel(0,axis=1)
df115 = df115.droplevel(0,axis=1)
df116 = df116.droplevel(0,axis=1)
df117 = df117.droplevel(0,axis=1) 
df118 = df118.droplevel(0,axis=1)
df119 = df119.droplevel(0,axis=1)
df120 = df120.droplevel(0,axis=1)

In [10]:
df100 = pd.concat([df101,df102,df103,df104,df105,df106,df107,df108,df109,df110,df111,df112,df113,df114,df115,df116,df117,df118,df119,df120])
df100

,Player,Nation,Pos,Age,90s,Gls,Sh,SoT,SoT%,Sh/90,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
0,Alisson,br BRA,GK,30-155,25.0,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
1,Mohamed Salah,eg EGY,FW,30-264,24.7,11,78,32,41.0,3.16,...,14.8,2,0,0,11.8,11.8,0.15,-0.8,-0.8,Matches
2,Trent Alexander-Arnold,eng ENG,DF,24-150,20.8,1,24,4,16.7,1.16,...,22.6,4,0,0,1.6,1.6,0.07,-0.6,-0.6,Matches
3,Virgil van Dijk,nl NED,DF,31-241,20.5,3,20,7,35.0,0.98,...,11.9,0,0,0,1.7,1.7,0.09,1.3,1.3,Matches
4,Andrew Robertson,sct SCO,DF,28-360,18.7,0,11,1,9.1,0.59,...,14.5,0,0,0,1.1,1.1,0.11,-1.1,-1.1,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,Jack Stephens,eng ENG,DF,29-038,0.5,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
29,Mislav Oršić,hr CRO,MF,30-067,0.1,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
30,Nathan Redmond,eng ENG,DF,29-000,0.0,0,0,0,NaN,0.00,...,NaN,0,0,0,0.0,0.0,NaN,0.0,0.0,Matches
31,Squad Total,NaN,NaN,25.1,25.0,20,281,87,31.0,11.24,...,18.0,11,0,2,24.0,22.3,0.08,-4.0,-2.3,NaN
32,Opponent Total,NaN,NaN,27.4,25.0,37,315,91,28.9,12.60,...,16.5,8,0,1,33.4,32.6,0.11,3.6,4.4,NaN

In [11]:
df100.columns

Index(['Player', 'Nation', 'Pos', 'Age', '90s', 'Gls', 'Sh', 'SoT', 'SoT%',
       'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG',
       'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Matches'],
      dtype='object')

#### Isolate Relevant Columns

In [12]:
df100=df100.loc[:, ['Player', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK']]    
df100.head()

                   Player  Sh  SoT  SoT%  Sh/90  SoT/90  G/Sh  G/SoT  Dist  FK
0                 Alisson   0    0   NaN   0.00    0.00   NaN    NaN   NaN   0
1           Mohamed Salah  78   32  41.0   3.16    1.29  0.14   0.34  14.8   2
2  Trent Alexander-Arnold  24    4  16.7   1.16    0.19  0.04   0.25  22.6   4
3         Virgil van Dijk  20    7  35.0   0.98    0.34  0.15   0.43  11.9   0
4        Andrew Robertson  11    1   9.1   0.59    0.05  0.00   0.00  14.5   0

#### Merge Both Dataframes

In [13]:
df = pd.merge(df,df100, on=['Player'])
df

,Team,Player,Nat,Pos,Age,MP,Starts,Mins,90s,Gls,...,xG/90,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK
0,Liverpool,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1,Liverpool,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,...,0.48,78,32,41.0,3.16,1.29,0.14,0.34,14.8,2
2,Liverpool,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,...,0.08,24,4,16.7,1.16,0.19,0.04,0.25,22.6,4
3,Liverpool,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,...,0.08,20,7,35.0,0.98,0.34,0.15,0.43,11.9,0
4,Liverpool,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,...,0.06,11,1,9.1,0.59,0.05,0.00,0.00,14.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,Southampton,Juan Larios,es ESP,DF,19-053,5,2,152.0,1.7,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1377,Southampton,Oriol Romeu,es ESP,MF,31-163,1,1,74.0,0.8,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1378,Southampton,Yan Valery,tn TUN,DF,24-012,1,1,45.0,0.5,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1379,Southampton,Mislav Oršić,hr CRO,MF,30-067,1,0,7.0,0.1,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1380,Southampton,Nathan Redmond,eng ENG,DF,29-000,1,0,1.0,0.0,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0

#### Remove 'Squad Total' & 'Opponent Total' Footers

In [14]:
df = df[ (df['Player']!="Squad Total") & (df['Player'] !="Opponent Total")]
df

,Team,Player,Nat,Pos,Age,MP,Starts,Mins,90s,Gls,...,xG/90,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK
0,Liverpool,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1,Liverpool,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,...,0.48,78,32,41.0,3.16,1.29,0.14,0.34,14.8,2
2,Liverpool,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,...,0.08,24,4,16.7,1.16,0.19,0.04,0.25,22.6,4
3,Liverpool,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,...,0.08,20,7,35.0,0.98,0.34,0.15,0.43,11.9,0
4,Liverpool,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,...,0.06,11,1,9.1,0.59,0.05,0.00,0.00,14.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,Southampton,Juan Larios,es ESP,DF,19-053,5,2,152.0,1.7,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1377,Southampton,Oriol Romeu,es ESP,MF,31-163,1,1,74.0,0.8,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1378,Southampton,Yan Valery,tn TUN,DF,24-012,1,1,45.0,0.5,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1379,Southampton,Mislav Oršić,hr CRO,MF,30-067,1,0,7.0,0.1,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0
1380,Southampton,Nathan Redmond,eng ENG,DF,29-000,1,0,1.0,0.0,0.0,...,0.00,0,0,NaN,0.00,0.00,NaN,NaN,NaN,0

#### Descriptive Stats & Drop Null Values

In [15]:
df.info

<bound method DataFrame.info of              Team                  Player      Nat Pos     Age  MP  Starts  \
0       Liverpool                 Alisson   br BRA  GK  30-155  25      25
1       Liverpool           Mohamed Salah   eg EGY  FW  30-264  25      25
2       Liverpool  Trent Alexander-Arnold  eng ENG  DF  24-150  25      22
3       Liverpool         Virgil van Dijk   nl NED  DF  31-241  21      21
4       Liverpool        Andrew Robertson  sct SCO  DF  28-360  22      19
...           ...                     ...      ...  ..     ...  ..     ...
1376  Southampton             Juan Larios   es ESP  DF  19-053   5       2
1377  Southampton             Oriol Romeu   es ESP  MF  31-163   1       1
1378  Southampton              Yan Valery   tn TUN  DF  24-012   1       1
1379  Southampton            Mislav Oršić   hr CRO  MF  30-067   1       0
1380  Southampton          Nathan Redmond  eng ENG  DF  29-000   1       0

        Mins   90s   Gls  ...  xG/90  Sh  SoT  SoT%  Sh/90  SoT/90  G/Sh  \
0     2250.0  25.0   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1     2225.0  24.7  11.0  ...   0.48  78   32  41.0   3.16    1.29  0.14
2     1869.0  20.8   1.0  ...   0.08  24    4  16.7   1.16    0.19  0.04
3     1845.0  20.5   3.0  ...   0.08  20    7  35.0   0.98    0.34  0.15
4     1682.0  18.7   0.0  ...   0.06  11    1   9.1   0.59    0.05  0.00
...      ...   ...   ...  ...    ...  ..  ...   ...    ...     ...   ...
1376   152.0   1.7   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1377    74.0   0.8   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1378    45.0   0.5   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1379     7.0   0.1   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1380     1.0   0.0   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN

      G/SoT  Dist  FK
0       NaN   NaN   0
1      0.34  14.8   2
2      0.25  22.6   4
3      0.43  11.9   0
4      0.00  14.5   0
...     ...   ...  ..
1376    NaN   NaN   0
1377    NaN   NaN   0
1378    NaN   NaN   0
1379    NaN   NaN   0
1380    NaN   NaN   0

[581 rows x 27 columns]>

In [16]:
df.describe

<bound method NDFrame.describe of              Team                  Player      Nat Pos     Age  MP  Starts  \
0       Liverpool                 Alisson   br BRA  GK  30-155  25      25
1       Liverpool           Mohamed Salah   eg EGY  FW  30-264  25      25
2       Liverpool  Trent Alexander-Arnold  eng ENG  DF  24-150  25      22
3       Liverpool         Virgil van Dijk   nl NED  DF  31-241  21      21
4       Liverpool        Andrew Robertson  sct SCO  DF  28-360  22      19
...           ...                     ...      ...  ..     ...  ..     ...
1376  Southampton             Juan Larios   es ESP  DF  19-053   5       2
1377  Southampton             Oriol Romeu   es ESP  MF  31-163   1       1
1378  Southampton              Yan Valery   tn TUN  DF  24-012   1       1
1379  Southampton            Mislav Oršić   hr CRO  MF  30-067   1       0
1380  Southampton          Nathan Redmond  eng ENG  DF  29-000   1       0

        Mins   90s   Gls  ...  xG/90  Sh  SoT  SoT%  Sh/90  SoT/90  G/Sh  \
0     2250.0  25.0   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1     2225.0  24.7  11.0  ...   0.48  78   32  41.0   3.16    1.29  0.14
2     1869.0  20.8   1.0  ...   0.08  24    4  16.7   1.16    0.19  0.04
3     1845.0  20.5   3.0  ...   0.08  20    7  35.0   0.98    0.34  0.15
4     1682.0  18.7   0.0  ...   0.06  11    1   9.1   0.59    0.05  0.00
...      ...   ...   ...  ...    ...  ..  ...   ...    ...     ...   ...
1376   152.0   1.7   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1377    74.0   0.8   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1378    45.0   0.5   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1379     7.0   0.1   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN
1380     1.0   0.0   0.0  ...   0.00   0    0   NaN   0.00    0.00   NaN

      G/SoT  Dist  FK
0       NaN   NaN   0
1      0.34  14.8   2
2      0.25  22.6   4
3      0.43  11.9   0
4      0.00  14.5   0
...     ...   ...  ..
1376    NaN   NaN   0
1377    NaN   NaN   0
1378    NaN   NaN   0
1379    NaN   NaN   0
1380    NaN   NaN   0

[581 rows x 27 columns]>

In [17]:
# check data types
df.dtypes

Team       object
Player     object
Nat        object
Pos        object
Age        object
MP          int64
Starts      int64
Mins      float64
90s       float64
Gls       float64
Gls/90    float64
Ast       float64
Ast/90    float64
PK        float64
CrdY      float64
CrdR      float64
xG        float64
xG/90     float64
Sh          int64
SoT         int64
SoT%      float64
Sh/90     float64
SoT/90    float64
G/Sh      float64
G/SoT     float64
Dist      float64
FK          int64
dtype: object

In [18]:
df.columns

Index(['Team', 'Player', 'Nat', 'Pos', 'Age', 'MP', 'Starts', 'Mins', '90s',
       'Gls', 'Gls/90', 'Ast', 'Ast/90', 'PK', 'CrdY', 'CrdR', 'xG', 'xG/90',
       'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK'],
      dtype='object')

In [19]:
# remove players who have played less than 45 mins
df = df[df.Mins >=45]

In [20]:
# Replace Null values with zeros
df = df.fillna(0)
df.head(10)

,Team,Player,Nat,Pos,Age,MP,Starts,Mins,90s,Gls,...,xG/90,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK
0,Liverpool,Alisson,br BRA,GK,30-155,25,25,2250.0,25.0,0.0,...,0.00,0,0,0.0,0.00,0.00,0.00,0.00,0.0,0
1,Liverpool,Mohamed Salah,eg EGY,FW,30-264,25,25,2225.0,24.7,11.0,...,0.48,78,32,41.0,3.16,1.29,0.14,0.34,14.8,2
2,Liverpool,Trent Alexander-Arnold,eng ENG,DF,24-150,25,22,1869.0,20.8,1.0,...,0.08,24,4,16.7,1.16,0.19,0.04,0.25,22.6,4
3,Liverpool,Virgil van Dijk,nl NED,DF,31-241,21,21,1845.0,20.5,3.0,...,0.08,20,7,35.0,0.98,0.34,0.15,0.43,11.9,0
4,Liverpool,Andrew Robertson,sct SCO,DF,28-360,22,19,1682.0,18.7,0.0,...,0.06,11,1,9.1,0.59,0.05,0.00,0.00,14.5,0
5,Liverpool,Fabinho,br BRA,MF,29-134,23,18,1621.0,18.0,0.0,...,0.02,9,3,33.3,0.50,0.17,0.00,0.00,18.6,0
6,Liverpool,Harvey Elliott,eng ENG,"MF,FW",19-336,25,15,1383.0,15.4,1.0,...,0.11,28,10,35.7,1.82,0.65,0.04,0.10,19.0,0
7,Liverpool,Darwin Núñez,uy URU,FW,23-255,19,15,1281.0,14.2,8.0,...,0.72,75,30,40.0,5.27,2.11,0.11,0.27,14.9,0
8,Liverpool,Jordan Henderson,eng ENG,MF,32-262,22,14,1235.0,13.7,0.0,...,0.05,14,4,28.6,1.02,0.29,0.00,0.00,22.9,0
9,Liverpool,Thiago Alcántara,es ESP,MF,31-329,14,14,1154.0,12.8,0.0,...,0.03,9,1,11.1,0.70,0.08,0.00,0.00,25.2,0

In [21]:
# add new column
df['CrdY/90'] = round((df['CrdY'] / df['90s']),2)

#### Standardize player name characters to latin

In [22]:
# standardize foreign lettering to latin
Name = []
for p_name in df.loc[:,'Player']:
    p_name = unidecode.unidecode(p_name)
    Name.append(p_name)
    
df['Name'] = Name
df = df.drop(['Player'],axis=1)    # drop original column

In [23]:
# reorder
df = df[['Team', 'Name', 'Nat', 'Pos', 'Age', 'MP', 'Starts', 'Mins', '90s',
       'Gls', 'Gls/90', 'Ast', 'Ast/90', 'PK', 'CrdY', 'CrdY/90', 'CrdR', 'xG', 'xG/90', 'Sh',
       'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK',
      ]]

#### Standardize 3 letter Nation ID

In [24]:
# Standardize country to 3 letter code
new_Nat = []
for string in df['Nat']:
    new_string = string[-3:]
    new_Nat.append(new_string)
    
df['Nation'] = new_Nat
df.drop(['Nat'],axis=1, inplace = True)

#df = df['Team'] + df[ ['Name'] + [ col for col in df.column if col != 'Name' and col!= 'Nation' ] ]

In [25]:
# reorder
df = df[['Team', 'Name', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Mins', '90s', 'Gls', 'Gls/90', 'xG', 'xG/90', 'Sh', 'Sh/90', 'G/Sh', 'SoT', 'SoT%', 'SoT/90', 'G/SoT', 'Dist', 'FK', 'Ast', 'Ast/90', 'PK', 'CrdY', 'CrdY/90', 'CrdR']]
df

,Team,Name,Nation,Pos,Age,MP,Starts,Mins,90s,Gls,...,SoT/90,G/SoT,Dist,FK,Ast,Ast/90,PK,CrdY,CrdY/90,CrdR
0,Liverpool,Alisson,BRA,GK,30-155,25,25,2250.0,25.0,0.0,...,0.00,0.00,0.0,0,1.0,0.04,0.0,0.0,0.00,0.0
1,Liverpool,Mohamed Salah,EGY,FW,30-264,25,25,2225.0,24.7,11.0,...,1.29,0.34,14.8,2,7.0,0.28,0.0,1.0,0.04,0.0
2,Liverpool,Trent Alexander-Arnold,ENG,DF,24-150,25,22,1869.0,20.8,1.0,...,0.19,0.25,22.6,4,2.0,0.10,0.0,3.0,0.14,0.0
3,Liverpool,Virgil van Dijk,NED,DF,31-241,21,21,1845.0,20.5,3.0,...,0.34,0.43,11.9,0,0.0,0.00,0.0,1.0,0.05,0.0
4,Liverpool,Andrew Robertson,SCO,DF,28-360,22,19,1682.0,18.7,0.0,...,0.05,0.00,14.5,0,6.0,0.32,0.0,2.0,0.11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,Southampton,Carlos Alcaraz,ARG,MF,20-096,5,2,187.0,2.1,2.0,...,1.44,0.67,20.4,0,0.0,0.00,0.0,1.0,0.48,0.0
1375,Southampton,James Bree,ENG,DF,25-146,2,2,169.0,1.9,0.0,...,0.00,0.00,0.0,0,0.0,0.00,0.0,0.0,0.00,0.0
1376,Southampton,Juan Larios,ESP,DF,19-053,5,2,152.0,1.7,0.0,...,0.00,0.00,0.0,0,0.0,0.00,0.0,0.0,0.00,0.0
1377,Southampton,Oriol Romeu,ESP,MF,31-163,1,1,74.0,0.8,0.0,...,0.00,0.00,0.0,0,0.0,0.00,0.0,0.0,0.00,0.0
1378,Southampton,Yan Valery,TUN,DF,24-012,1,1,45.0,0.5,0.0,...,0.00,0.00,0.0,0,0.0,0.00,0.0,0.0,0.00,0.0

In [26]:
# remove players who have played 3 or less matches
df = df[df.MP >=4]

#### Dataframe is now scraped, cleaned and ready for exploratory data analysis
##### Save to csv

In [27]:
# write to csv
df.to_csv(r'C:\\Users\\Documents\\Prem_Players_Data_Analysis_Ready.csv', index=False)
print('DF saved to csv successfully')

DF saved to csv successfully